[Desktop Entry]
Name=reManager
Comment=Manage mods on reMarkable tablets
Exec=reManager
Icon=io.scottlabs.reManager
Terminal=false
Type=Application
Categories=Utility;
Keywords=remarkable;tablet;mods;vellum;
StartupWMClass=reManager
